<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ps_connect_io6</name>
	<displayName><![CDATA[ImporterONE Cloud Connector]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Connette il tuo negozio con ImporterONE Cloud]]></description>
	<author><![CDATA[Imprimis]]></author>
	<tab><![CDATA[quick_bulk_update]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
